
.ipynb_checkpoints/Practice-checkpoint.ipynb
.ipynb_checkpoints/Mission_to_Mars-checkpoint.ipynb
.ipynb_checkpoints/Sample_Test-checkpoint.ipynb
debug.log
Sample_Test.ipynb
Mission_to_Mars.py
__pycache__/scraping.cpython-37.pyc
