
.ipynb_checkpoints/Practice-checkpoint.ipynb
.ipynb_checkpoints/Mission_to_Mars-checkpoint.ipynb
.ipynb_checkpoints/Sample_Test-checkpoint.ipynb
debug.log
Sample_Test.ipynb
Mission_to_Mars.py
__pycache__/scraping.cpython-37.pyc
.ipynb_checkpoints/Mission_to_Mars_Challenge-checkpoint.ipynb
.ipynb_checkpoints/Mission_to_Mars_Challenge_starter_code-checkpoint.ipynb
Mission_to_Mars_Challenge_starter_code.ipynb
_obsolete/scraping.sample
_obsolete/Mission_to_Mars_Challenge.py
_obsolete/indexstarter.html
_obsolete/index_1.html
_obsolete/index4.html
_obsolete/index.old
